.ltco_filter {
  border-bottom: 1px solid ltco_color('gray-300');

  .row {
    align-items: center;
    margin: -0.5rem;

    > * {
      margin: 0.5rem;
    }

    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }

  .btn {
    color: ltco_color('white');

    @include media-breakpoint-down(sm) {
      flex: 1;
    }
  }

  .custom-select {
    @include transition($custom-forms-transition);

    @include media-breakpoint-up(md) {
      max-width: 300px;
      margin-right: auto;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(ltco_color('gray-900'), 0.5);
    }
  }

  .btn,
  .custom-select {
    height: 34px;
    line-height: 1;
    border-radius: 17px;
  }

  .custom-control {
    .custom-control-label {
      &:before {
        border-radius: 50%;
      }

      &:after {
        display: none;
      }
    }

    .custom-control-input:checked {
      &:focus,
      &:not(:disabled):active {
        &  ~ .custom-control-label:before {
          box-shadow: 0 0 0 0.2rem rgba(ltco_color(), 0.5);
        }
      }
    }

    &.orange {
      .custom-control-input {
        &:not(:disabled):active ~ .custom-control-label:before {
          background-color: lighten(ltco_color('orange'), 35%);
        }

        &:checked {
          &  ~ .custom-control-label:before {
            background-color: ltco_color('orange');
          }

          &:focus,
          &:not(:disabled):active {
            &  ~ .custom-control-label:before {
              box-shadow: 0 0 0 0.2rem rgba(ltco_color('orange'), 0.5);
            }
          }
        }
      }
    }
  }
}
