*::selection {
  background-color: ltco_color('darkblue');
  color: ltco_color('white');
}

#root {
  position: relative;
}

.ltco_bg_dark {
  a {
    color: $link-dark-color;

    @include hover {
      color: $link-dark-color;
    }
  }
}

hr {
  &:not(.footer) {
    border-top-color: ltco_color('gray-300');
  }

  &.footer {
    border-top-color: rgba(ltco_color('gray-900'), .2);
  }
}

main.ltco_main {
  background-color: ltco_color('white');
  position: relative;
  min-height: 200px;
}

.ltco_responsive_space_y {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.embed-responsive-thumbnail {
  background-image: url('http://i.ytimg.com/vi/ukHikH_10CA/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  // opacity: 0.2;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(ltco_color('black'), .7);
    background-image: url('./assets/images/svg/icon-play-button.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
  }
}

.line-after {
  text-align: center;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    text-align: left;

    &:after {
      content: '';
      max-width: 100%;
      min-width: 100px;
      height: 1px;
      display: block;
      background-color: currentColor;
      flex-grow: 1;
      margin-left: 1rem;
    }
  }
}

.list_style_ltco {
  list-style: none;
  padding-left: 1.5rem;

  li:before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: ltco_color();
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.hidden-b {
  overflow: hidden;
}

/* p {
  @include font-size(20px);
} */

.ltco_btn_back {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  padding-left: 0;
  color: ltco-color();
  @include transition($transition-base);

  &:before {
    content: '';
    background-color: ltco-color();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8px 12px;
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 12'><path stroke='#{$white}' fill='none' stroke-linecap='round' stroke-linejoin='round' d='M7 1 L1 6 L7 11'/></svg>"));
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0.5rem;
    @include transition($transition-base);
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: ltco-color();
    outline: none;

    &:before {
      transform: translateX(-2px);
    }
  }
}

.ltco_about_company {
  gap: 2rem;
  grid-template-columns: 1fr !important;

  > * {
    grid-column: auto !important;
    grid-row: auto !important;

    &[class*="content"] {
      padding: 0 !important;
    }
  }

  img {
    width: auto;
    height: auto;
    max-width: 180px;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: 260px 1fr !important;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 300px 1fr !important;
  }

  figure {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-self: flex-start !important;
    background-color: ltco_color('gray-100');

    > * {
      margin: auto;
    }
  }
}

.ltco_grid > [class*="container"] {
  @extend %triade-grid;
}

.ltco_error {
  filter: grayscale(1);
  opacity: 0.3;
}

.error404 #root {
  height: 100vh;
  display: flex;

  .wrapper-error {
    text-align: center;
  }
}
