.ltco_nossos_numeros {
  &__list {
    display: grid;
    gap: 16px;

    @include media-breakpoint-only(sm) {
      grid-template-columns: repeat(2, 1fr);

      .item:last-child {
        grid-column: 1/-1;
      }
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    .item {
      &__circle {
        width: 80px;
        height: 80px;
        display: flex;
        place-content: center;
        place-items: center;
        border-radius: 50%;
        border: 6px solid ltco_color();
        color: ltco_color();
        font-weight: 700;
        @include font-size(16px);

        @include media-breakpoint-up(xl) {
          width: 100px;
          height: 100px;
          border-width: 8px;
          @include font-size(20px);
        }
      }

      &__description {
        margin-bottom: 0;
        margin-left: 0.5rem;
        flex: 1;
        @include font-size(16px);

        @include media-breakpoint-between(md, lg) {
          @include font-size(14px);
        }
      }
    }
  }
}
